.DS_Store
.ipynb_checkpoints/
*.jl.*.cov
*.jl.cov
*.jl.mem
*.numbers
content/DATA/models/
content/DATA/original/
content/DATA/processed/
deps/build.log
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
docs/build/
docs/site/
Manifest.toml
