_KEEP_ME_SORTED_
.DS_Store
.ipynb_checkpoints/
*.jl.*.cov
*.jl.cov
*.jl.mem
*.numbers
src/DATA/models/
src/DATA/original/
src/DATA/processed/
deps/build.log
deps/deps.jl
deps/downloads/
deps/src/
deps/usr/
docs/build/
docs/site/
Manifest.toml
